<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>TweetRSS</title>
    {% include 'header.html' %}
    <style>
        #content {
            margin-left: 1em;
        }
    </style>
</head>
<body>
<div id="content">
    Enter a Twitter Username and get his Tweets as an RSS Feed
    <form name="input" onsubmit="window.location = document.getElementById('username').value;return false;">
        Username: <input type="text" id="username">
        <input type="submit" value="Get RSS Feed">
    </form>
</div>
</body>
</html>