<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title></title>
    {% include 'header.html' %}
    <style>
        #content {
            margin-left: 1em;
        }
    </style>
</head>
<body>

<div id="content" class="container-fluid">
    <h1>Udacity</h1>
    <div class="list-group" id="side-menu-collapse">
        <li class="list-group-item">
            <a href="static/pdf/CS101.pdf" target="_blank">Introduction To Computer Science
                Building A Search Engine (CS101)</a>
        </li>
        <li class="list-group-item">
            <a href="static/pdf/CS212.pdf" target="_blank">Design of Computer Programs Programming Principles (CS212)
            </a>
        </li>

        <li class="list-group-item">
            <a href="static/pdf/CS215.pdf" target="_blank">Algorithms
                Crunching Social Networks (CS 215)</a>
        </li>

        <li class="list-group-item">
            <a href="static/pdf/CS253.pdf" target="_blank">Web Application Engineering:
                How to Build a Blog (CS253)</a>
        </li>

        <li class="list-group-item">
            <a href="static/pdf/CS258.pdf" target="_blank">Software Testing
                How to Make Software Fail (CS258)</a>
        </li>

        <li class="list-group-item">
            <a href="static/pdf/CS262.pdf" target="_blank">Programming Languages
                Building a Web Browser (CS262)</a>
        </li>
    </div>

    <h1>Coursera</h1>

    <div class="list-group">
        <li class="list-group-item">
        <a href="static/pdf/AlgoClass.pdf" target="_blank">Algorithms: Design and
            Analysis, Part I</a>
        </li>
            <li class="list-group-item">
        <a href="static/pdf/Coursera interactivepython 2013.pdf" target="_blank">An
            Introduction
            to Interactive
            Programming in Python</a>
                </li>
        <li class="list-group-item">
        <a href="static/pdf/Game Theory Class.pdf" target="_blank">Game Theory</a>
        </li>
    </div>

    <h1>Various</h1>

    <div class="list-group">
        <li class="list-group-item">
        <a href="static/pdf/aiclass.pdf" target="_blank">Introduction To Artificial
            Intelligence</a>
        </li>
            <li class="list-group-item">
        <a href="static/pdf/mlclass.pdf" target="_blank">Introduction to Machine
            Learning</a>
        </li>
    </div>
</div>
</body>
</html>