<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title></title>
    {% include 'header.html' %}
    <style>
        #content {
            padding-left: 1em;
        }

        .post {
            border: 1px solid;
            margin: 1em;
            width: 90%;
        }
    </style>
    <script src="markdown.js">
    </script>
</head>
<body>
<div id="content">
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <h4>{{ post.date }}</h4>

            <div class="post-text">{{ post.text }}</div>
        </div>
    {% endfor %}
</div>
<script>
    $('div.post-text').each(function (index) {
        this.innerHTML = markdown.toHTML(this.innerHTML);
    });
</script>
</body>
</html>