<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    {% include 'header.html' %}
</head>
<body>
Chat
<div id="chatwindow"></div>
<form id="myform">
    <input type="textbox" id="username" value="Username">
    <input type="textbox" id="textinput" value="Text">
    <input type="button" value="Submit" onclick="$('#myform').submit();">
</form>
<script>
    // using jQuery
    last_id = 0
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function loadNewMessages() {
        url = 'get_new_messages.json?last_message_id=' + last_id
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                div = $("<div>", {
                    'id': item.id,
                    'text': item.user + ":" + item.message
                })
                if (item.id > last_id) {
                    last_id = item.id;
                }
                div.appendTo("#chatwindow");
            });
        })
    }

    $.getJSON('messages.json', function (data) {
        $.each(data, function (i, item) {
            div = $("<div>", {
                'id': item.id,
                'text': item.user + ":" + item.message
            })
            if (item.id > last_id) {
                last_id = item.id;
            }
            div.appendTo("#chatwindow");
        });
    })

    $(document).ready(function () {
        $('#textinput').keydown(function (event) {
            if (event.keyCode == 13) {
                console.log($("#textinput").val());
                $('#myform').submit();
                return false;
            }
        });
    });
    $(function () { //shorthand document.ready function
        $('#myform').on('submit', function (e) { //use on if jQuery 1.7+
            e.preventDefault();  //prevent form from submitting
            var csrftoken = getCookie('csrftoken');
            var postdata = {'user': $("#username").val(),
                'message': $("#textinput").val(),
                'csrfmiddlewaretoken': csrftoken};
            $.post('post_message', postdata);
            return false;
        });
    });
    $(function () {
        window.setInterval(loadNewMessages, 500);
    })
</script>
</body>
</html>