<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    {% include 'header.html' %}
    <style>
        html, body {
            height: 100%;
        }

        #chatwindow {
            overflow: scroll;
            height: 50%;
            width: 75%;
        }
    </style>
</head>
<body>
Chat
<div id="chatwindow"></div>
<form id="myform">
    <input type="textbox" id="username" placeholder="Username">
    <input type="textbox" id="textinput" placeholder="Message" onclick="">
    <input type="button" value="Submit" onclick="$('#myform').submit();">
    <input type="button" value="Clear History" onclick="$.post('clear_history');$('#chatwindow').empty();">
</form>
<script>
    last_id = 0
    function loadNewMessages() {
        url = 'get_new_messages.json?last_message_id=' + last_id
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                div = $("<div>", {
                    'id': item.id,
                    'text': item.user + ":" + item.message
                })
                if (item.id > last_id) {
                    last_id = item.id;
                }
                div.appendTo("#chatwindow");
            });
            $("#chatwindow").scrollTop($("#chatwindow")[0].scrollHeight);
            loadNewMessages();
        });
    }


    $(document).ready(function () {
        $('#textinput').keydown(function (event) {
            if (event.keyCode == 13) {
                $('#myform').submit();
                return false;
            }
        });
    });
    $(function () { //shorthand document.ready function
        $('#myform').on('submit', function (e) { //use on if jQuery 1.7+
            e.preventDefault();  //prevent form from submitting
            var postdata = {'user': $("#username").val(),
                'message': $("#textinput").val()};
            $.post('post_message', postdata);
            $("#textinput").val('');
            return false;
        });
    });
    loadNewMessages();
</script>
</body>
</html>