<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Books</title>
    {% include 'header.html' %}
    <style>
        #content {
            margin-left: 1em;
        }
    </style>
</head>
<body>
<div id="content">
    Genre:
    {% for suggestion in suggestions %}
        <div>
            <a href="{% url 'booksearcher:shelf' suggestion %}?min_rating=4.0&min_shelved=10&min_ratings=1000">{{ suggestion }}</a>
        </div>
    {% endfor %}
</div>
</body>
</html>