<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% include 'header.html' %}
    <style>
        #content {
            margin-left: 1em;
        }
    </style>
</head>
<body>
<h1>Udacity</h1>

<div id="content">
    <div class="list-group">
        <a href="static/pdf/CS101.pdf" target="_blank" class="list-group-item">Introduction To Computer Science
            Building A Search Engine (CS101)</a>
        <a href="static/pdf/CS212.pdf" target="_blank" class="list-group-item">Design of Computer Programs
            Programming
            Principles
            (CS212)</a>
        <a href="static/pdf/CS215.pdf" target="_blank" class="list-group-item">Algorithms
            Crunching Social Networks (CS 215)</a>
        <a href="static/pdf/CS253.pdf" target="_blank" class="list-group-item">Web Application Engineering:
            How to Build a Blog (CS253)</a>
        <a href="static/pdf/CS258.pdf" target="_blank" class="list-group-item">Software Testing
            How to Make Software Fail (CS258)</a>
        <a href="static/pdf/CS262.pdf" target="_blank" class="list-group-item">Programming Languages
            Building a Web Browser (CS262)</a>
    </div>

    <h1>Coursera</h1>

    <div class="list-group">
        <a href="static/pdf/AlgoClass.pdf" target="_blank" class="list-group-item">Algorithms: Design and
            Analysis, Part I</a>
        <a href="static/pdf/Coursera interactivepython 2013.pdf" target="_blank" class="list-group-item">An
            Introduction
            to Interactive
            Programming in Python</a>
        <a href="static/pdf/Game Theory Class.pdf" target="_blank" class="list-group-item">Game Theory</a>
    </div>

    <h1>Various</h1>

    <div class="list-group">
        <a href="static/pdf/aiclass.pdf" target="_blank" class="list-group-item">Introduction To Artificial
            Intelligence</a>
        <a href="static/pdf/mlclass.pdf" target="_blank" class="list-group-item">Introduction to Machine
            Learning</a>
    </div>
</div>
</body>
</html>