<!DOCTYPE html>
<meta name="viewport" content="width=device-width, user-scalable=no">
<html>
<head>
    <title>Games</title>
    {% include 'header.html' %}
    <style>
        .center {
            text-align: center;
        }
        .date
        {
            min-width:6em;
        }
    </style>
    <script>window.onload = function () {
        el = document.getElementById("target");
        window.scrollTo(window, el.offsetTop);
    }</script>
</head>
</head>
<body>

<h1>Games in {{ year }}</h1>
<h2>Filter: {{ filter }}</h2>
<table border="3">
    <tr>
        <td>Date</td>
        <td>Name</td>
        <td>Platforms</td>
    </tr>
    {% for game in games %}
        {% if game.name == 'Today' %}
            <tr>
                <td>
                    <strong>{{ game.date }}</strong>
                </td>
                <td class="center" id="target"><strong>Today</strong></td>
            </tr>
        {% else %}
            <tr>
                <td class="date">{{ game.date }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.platforms }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
</body>
</html>