<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Patrick Speiser</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <style>
        #content {
            padding-left: 5em;
        }

        html, body, iframe {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        iframe {
            position: fixed;
            display: block;
            width: 100%;
            border: none;
        }
    </style>

</head>

<body>

<div class="navbar navbar-default" id="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Patrick Speiser</div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#about">About</a></li>
                <li><a href="#certificates">Zertifikate</a></li>
                <li><a href="#projects">Projekte</a></li>
                <li><a href="#goodreads">Goodreads</a></li>
            </ul>
        </div>
    </div>
</div>

<div id='content' class="tab-content">
    <div class="tab-pane active" id="about">
        <p>

        <h2>Patrick Speiser</h2>

        <div>Student</div>
        <div>Email: <a href="mailto:mail@patrickspeiser.at">mail@patrickspeiser.at</a></div>
        <div>GitHub: <a href="https://github.com/PSpeiser/">PSpeiser</a></div>
        </p>
    </div>

    <div class="tab-pane" id="certificates">

        <h1>Udacity</h1>

        <div class="list-group">
            <a href="static/pdf/CS101.pdf" target="_blank" class="list-group-item">Introduction To Computer Science
                Building A Search Engine (CS101)</a>
            <a href="static/pdf/CS212.pdf" target="_blank" class="list-group-item">Design of Computer Programs
                Programming
                Principles
                (CS212)</a>
            <a href="static/pdf/CS215.pdf" target="_blank" class="list-group-item">Algorithms
                Crunching Social Networks (CS 215)</a>
            <a href="static/pdf/CS253.pdf" target="_blank" class="list-group-item">Web Application Engineering:
                How to Build a Blog (CS253)</a>
            <a href="static/pdf/CS258.pdf" target="_blank" class="list-group-item">Software Testing
                How to Make Software Fail (CS258)</a>
            <a href="static/pdf/CS262.pdf" target="_blank" class="list-group-item">Programming Languages
                Building a Web Browser (CS262)</a>
        </div>

        <h1>Coursera</h1>

        <div class="list-group">
            <a href="static/pdf/AlgoClass.pdf" target="_blank" class="list-group-item">Algorithms: Design and
                Analysis, Part I</a>
            <a href="static/pdf/Coursera interactivepython 2013.pdf" target="_blank" class="list-group-item">An
                Introduction
                to Interactive
                Programming in Python</a>
            <a href="static/pdf/Game Theory Class.pdf" target="_blank" class="list-group-item">Game Theory</a>
        </div>

        <h1>Various</h1>

        <div class="list-group">
            <a href="static/pdf/aiclass.pdf" target="_blank" class="list-group-item">Introduction To Artificial
                Intelligence</a>
            <a href="static/pdf/mlclass.pdf" target="_blank" class="list-group-item">Introduction to Machine
                Learning</a>
        </div>
    </div>
    <div class="tab-pane" id="goodreads">
        <iframe src="https://www.goodreads.com/user/show/3289487-patrick"></iframe>
    </div>
    <div class="tab-pane" id="projects">
        <div class="list-group">
            <a href="games" target="_blank" class="list-group-item">Spiele Release Liste</a>
            <a href="books" target="_blank" class="list-group-item">Buchempfehler</a>
            <a href="{% url 'tweetrss_home' %}" target="_blank" class="list-group-item">TweetRSS</a>
        </div>
    </div>
</div>
<script>
    $('#navigation a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

</script>
</body>
</html>
