<!DOCTYPE html>
<html>
<head>
    <title>{{ shelf }}</title>
    {% include 'header.html' %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

    <script>
        $.extend($.fn.dataTableExt.oStdClasses, {
            "sSortAsc": "header headerSortDown",
            "sSortDesc": "header headerSortUp",
            "sSortable": "header"
        });
        $(document).ready(function () {
            $("#table").dataTable({
                "bPaginate": false,
                "bFilter": false,
                "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>"
            });
        });</script>
    <style>
    </style>
</head>
<body>
<div><a href="{% url 'search_shelf' shelf %}?start_page=1&max_results=1000">Scrape Goodreads for Books</a></div>
<table id="table" class="bordered-table zebra-striped" border="3">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Average Rating</th>
        <th>Ratings</th>
        <th>Score</th>
        <th>Shelved
    </tr>
    </thead>
    {% for book in books %}
        <tr>
            <td>
                <a href="{{ book.url }}">{{ book.title }}</a>
            </td>
            <td>{{ book.author }}</td>
            <td>{{ book.average_rating }}</td>
            <td>{{ book.ratings_count }}</td>
            <td>{{ book.score }}</td>
            <td>{{ book.shelved }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>